.Home {
    background-color: #0C0B0B;
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding-top: 5%;
    padding-bottom: 3%;

    align-items: center;
}

.ant-modal {
    color: white !important;
}

.ant-modal-content {
    background-color: #3B3B3F !important;
}

.ant-modal-confirm-body .ant-modal-confirm-title {
    color: white !important;
    font-weight: bold !important;
}

.ant-modal-confirm-body .ant-modal-confirm-content {
    color: white !important;
}