.StatsComponents {
    display: flex;
    flex-direction: row;
    padding-bottom: 3%;
    width: 80%;
    justify-content: center;
}

.CardOpenIssue {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #3B3B3F;
    width: calc(90%/3);
    height: 75px;

    padding: .5em;
    margin: auto;
}

.CardImportantIssue {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #672020;
    width: calc(90%/3);
    height: 75px;

    padding: .5em;
    margin: auto;
}

.imgStatsComp {
    margin-right: auto;
    margin-left: 2em;
    width: 32px;
    height: 32px;
    color: #3452FF;
}

.imgImportantComp {
    margin-right: auto;
    margin-left: 2em;
    width: 32px;
    height: 32px;
    color: #FF3434;
}

.CardText {
    display: flex;
    align-items: center;
    width: 100%;
    padding-right: 2em;
}

.cardName {
    margin: 0;
    font-size: large;
}

.nCardOpenIssue {
    margin: 0;
    margin-left: auto;

    padding-right: 2em;
    font-size: large;
}

.nCardNewIssue {
    margin: 0;
    margin-left: auto;
    padding-right: 2em;
    font-size: large;
}

.nCardImportantIssue {
    margin: 0;
    margin-left: auto;
    padding-right: 2em;
    font-size: large;
}

@media only screen and (max-width: 950px) {
    .StatsComponents {
        flex-direction: column;
    }

    .CardOpenIssue {
        width: 80%;
        margin-top: 1em;
    }

    .CardImportantIssue {
        width: 80%;
        margin-top: 1em;
    }
}