.connectionCardContainer {
    background-color: #3B3B3F;
    text-align: left;
    padding: 20px;
    border-radius: 4px;
}

.formContainer {
    margin-bottom: auto;
    padding: 0 40px 0 40px;
}

.connexionHeader {
    font-size: 20px;
    margin: 0;
    color: #FFFFFF;
}

.username {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
/*
.username .ant-input{
    height: 34px;
}
*/

.ant-input, .ant-input-affix-wrapper {
    color: #FFFFFF;
    border-radius: 4px !important;
    background-color: #2F2E31 !important;
    border: none !important;
}

.ant-input-password-icon.anticon {
    color: white !important;
}

.password {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.submitConnexion {
    margin-top: 30px;
    border-radius: 4px;
    width: 130px;
}

.submitConnexion input[type=submit]{
    width: auto !important;
    padding: 10px !important;
}

.submitConnexion:hover{
    font-weight: bold;
    border: none;
    color: #3452FF;
    background-color: white !important;
    transition: 0.3s linear;
}

.ant-col-16 {
    max-width: none !important;
    /*margin-right: 10% !important;*/
}

.ant-form-item-label {
    font-size: 14px;
    text-align: left;
}

.ant-form-item-label > label {
    color: #908F98;
}

.ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
    color: white !important;
}