.ConnexionContainer {
    height: 100vh;
    width: 100vw;
    background-color: #0C0B0B;

    display: flex;
    flex-direction: column;

    margin-left: auto;
    margin-right: auto;
    justify-items: center;
}

.LogoUnivNantes {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.LogoUnivNantes img {
    width: auto;
    height: 3em;
}

.connectionCard {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}