.topNameContainer h3 {
    color: #fff;
}

.download-button{
    height: 42px;
    width: 42px;
    border-radius: 4px;
    background-color: #2F2E31;
    padding-left: 9px;
    padding-top: 9px;
}

.download-button:hover{
    background-color: #262527;
    cursor: pointer;
}

.img-qrcode{
    width: 100%;
    margin-bottom: 10px;
}

.bodyContainer {
    display: flex;
    flex-direction: row;
    width: 90%;
}

.DetailQRCode {
    width: 30%;
    border-radius: 4px;
    margin-left: 5%;
    padding: 2%;
    background-color: #3B3B3F;
}

.leftBodyContainer {
    background-color: #3B3B3F;
}

.rightBodyContainer {
    background-color: #3B3B3F;
}
.buttonsContainer{
    display: flex;
    align-items: center;
}
.issuesContainer{
    margin-top: 50px;
}

.anticon svg {
    width: 1.5em;
    height: 1.5em;
}