.ContentIssue {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 5%;
    margin-top: 5%;
}

.ContentIssue .ant-tag {
    padding: 4px 14px;
    text-transform: uppercase;
}

.green {
    background-color: rgba(0, 188, 79, 0.3);
    color: #00BC4F;
    border: none;
}

.orange {
    background-color: rgba(240, 145, 73, 0.3);
    color: #F09149;
    border: none;
}

.red {
    background-color: rgba(240, 73, 73, 0.3);
    color: #F04949;
    border: none;
}

.IssueTitle {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 0;
}

#IdIssue {
    font-weight: normal;
}

.IssueSeverityCard {
    background-color: #F04949;
    opacity: 0.7;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 1px;
    margin-right: 10px;
}

#IssueSeverity {
    color: #FFFFFF;
}

.IssueStateCard {
    background-color: #F09149;
    opacity: 0.7;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 1px;
    margin-right: 10px;
}

.DetailContentIssue {
    display: flex;
    margin-top: 4%;
}

.DescriptionIssue {
    background-color: #3B3B3F;
    width: 60%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 4px;
}

.DescriptionText {
    color: #908F98;
    margin-bottom: 0;
}

#iptDesc {
    width: 90%;
    height: 10vmax;
    padding: 1em;
    margin-bottom: 10px;
    background-color: #2F2E31;
    border-radius: 4px;
    border-color: #2F2E31;
    resize: none;
}

#nCreation {
    font-weight: bold;
}

.SelectSeverity {
    width: 150px;
    margin-bottom: 20px;
}


.boutons-descripfion {
    display: flex;
}

.boutons-descripfion input {
    text-align: center;
    width: 130px;
    justify-content: center;
    margin-right: 10px;
}

.boutons-descripfion input:hover {
    font-weight: bold;
    color: red;
    background-color: white !important;
    transition: 0.3s linear;
}

.boutons-descripfion input:first-child:hover {
    font-weight: bold;
    color: #3452FF;
    background-color: white;
    transition: 0.3s linear;
}

tbody td,
thead th {
    width: 120px;
}

.ComputerIssue {
    width: 30%;
    border-radius: 4px;
    margin-left: 5%;
    padding: 2%;
    background-color: #3B3B3F;
}

.ComputerIssue .boutons-descripfion {
    justify-content: center;
    margin-top: 70px;
    align-items: center;
}

.Contain {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 86%;
    justify-content: space-between;
}

.ComputerTitle {
    font-weight: bold;
    font-size: 20px;
}

.deviceInfo {
    background-color: #2F2E31;
    padding: .5em;
}

.BtnVoirPlus {
    margin-top: auto;
}

@media only screen and (max-width: 950px) {
    .DetailContentIssue {
        width: 100%;
        flex-direction: column;
    }

    .DescriptionIssue,
    .ComputerIssue {
        width: 100%;
        margin-bottom: 40px;
        padding: 20px;
    }

    .ComputerIssue {
        margin-left: 0;
    }

    .ContentIssue {
        padding: 40px;
        margin-left: 0;
    }
}