.inputText {
    margin-bottom: 10px;
}
form .inputText{
    margin-bottom: 0;
}

.inputText > label {
    font-size: 18px;
    color: #908F98;
    margin-bottom: 4px;
}

input {
    width: 100%;
    height: 38px;
    font-size: 18px;
    padding-left: 10px;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #2F2E31;
    border: none;
}