.LeftMenuContainer {
    display: flex;
    flex-direction: column;
    text-align: left;

    height: 100vh;
    max-width: 15vw;

    margin-right: auto;


    background-color: #2F2E31;
}

/* Logo */
.LogoContainer {
    margin-top: 2em;
    padding-left: 1em;
}

.LogoUnivNanteMenu {
    height: auto;
    width: 70%;
}

/* Menu */
.MenusContainer {
    padding-left: 2em;
}

.MenusContainer a {
    text-decoration-line: none;
    text-decoration-color: currentcolor;
    color: #FFFFFF;
    cursor: pointer;
}

.MenusContainer .active h3 {
    font-weight: bold;
}

.MenusContainer .inactive h3 {
    font-weight: normal;
}

.MenusContainer .Deconnexion {
    color: #F04949;
}