.mainAppareilContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.tableAppareilContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;

    background-color: #3B3B3F;

    border-radius: 10px;
    padding: 3em;
}

.addDeviceContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 20%;
    margin-top: 5em;
    margin-bottom: 5em;
    margin-left: auto;
    margin-right: auto;

    background-color: #3B3B3F;

    border-radius: 10px;
    padding: 1em;
}

.addDeviceContainer form {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.addDeviceContainer form .inputText {
    width: 20% !important;
    margin-right: 1em;
}
.DetailContentIssueAppareil {
    display: flex;
    margin-top: 4%;
}
.DetailContentIssueAppareil .ComputerIssue {
    width: 25%;
    margin-left: 1%;
}
.addDeviceContainer form input[type="submit"] {
    width: 20% !important;
    margin-right: 1em;
    justify-content: center;
}
.addDeviceContainer form input[type="submit"]:hover {
    font-weight: bold;
    color: #3452FF;
    background-color: white !important;
    transition: 0.3s linear;
}
.DescriptionIssueAppareil{
    background-color: #3B3B3F;
    width: 75%;
    border-radius: 4px;
}
.DescriptionIssueAppareil .ant-table-filter-trigger, .DescriptionIssueAppareil .ant-table-column-sorter{
    display: none;
}
.DescriptionIssueAppareil .tableContainer {
    padding: 15px;
}
.DescriptionIssueAppareil .issuesContainerAppareil .ant-table-thead > tr > th{
    padding: 2px;
}
.issuesContainerAppareil .IssueTable {
    width: 100%;
}
/*.issuesContainerAppareil .ant-table-thead > tr > th{
    padding: 0;
}*/
.issuesContainerAppareil .tableName{
    display: none;
}
.TopAppareil{
    display: flex;
    align-items: baseline;
}
@media only screen and (max-width: 950px) {
    .tableAppareilContainer {
        width: 90%;
        height: 100%;
    }
    .addDeviceContainer {
        width: 90%;
        height: 100%;
        margin-bottom: 7em;
    }
    .addDeviceContainer form .inputText {
        width: 100% !important;
    }
    .addDeviceContainer form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding: 10px;
    }
    .addDeviceContainer form input[type="submit"] {
        width: 40% !important;
        margin-top: 20px;
    }
    .DetailContentIssueAppareil{
        flex-direction: column;
    }
    .DescriptionIssueAppareil {
        width: 100%;
        margin-bottom: 50px;
    }
    .DetailContentIssueAppareil .ComputerIssue{
        width: 50%;
        margin: auto;
    }
    /*.App {*/
    /*    height: auto !important;*/
    /*}*/

}

.tableName h3 {
    color: #FFF !important;
    margin: 0;
}

.ant-table-tbody > tr > td:nth-child(1), .ant-table-tbody > tr > td:nth-child(5) {
    text-align: center !important;
    padding-left: 0 !important;
  }