.mainAppareilContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.tableAppareilContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;

    background-color: #3B3B3F;

    border-radius: 4px;
    padding: 3em;
}

.addDeviceContainer {
    display: flex;
    justify-content: center;
    width: 80%;
    margin-bottom: 4em;
    margin-top: 4em;
    background-color: #3B3B3F;
    border-radius: 4px;
    padding: 3em;
}

.addDeviceC {
    display: flex;
    align-items: center;
}

.addDeviceBtn {
    align-self: flex-end;
}

.addDeviceContainer .inputText {
    margin-bottom: 0;
    margin-right: 20px;
}

.addDeviceContainer .ant-select {
    align-self: flex-end;
    margin-right: 20px;
    height: 38px;
}

.addDeviceContainer form {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.addDeviceC .ant-select-selector {
    display: flex;
    align-items: center;
    height: 100%;
}

.addDeviceContainer form .inputText {
    width: 20% !important;
    margin-right: 1em;
}

.DetailContentIssueAppareil {
    display: flex;
    flex-direction: row;
    height: auto;
    margin-top: 4%;
}

.DetailContentIssueAppareil .ComputerIssue {
    width: 25%;
    margin-left: 1%;
}

.addDeviceContainer .addDeviceC .addDeviceBtn {
    /*width: 20% !important;*/
    justify-content: center;
    height: 38px;
}

.img-qrcode {
    width: 15em;
}

.addDeviceBtn input {
    height: 100%;
    width: 130px;
    justify-content: center;
}

.addDeviceContainer .addDeviceC .addDeviceBtn input:hover {
    font-weight: bold;
    color: #3452FF;
    background-color: white !important;
    transition: 0.3s linear;
}

.DescriptionIssueAppareil {
    width: 75%;
    border-radius: 4px;
    background-color: #3B3B3F;
}

.DescriptionIssueAppareil .ant-table-filter-trigger,
.DescriptionIssueAppareil .ant-table-column-sorter {
    display: none;
}

.DescriptionIssueAppareil .issuesContainerAppareil .ant-table-thead>tr>th {
    padding: 2px;
}

.issuesContainerAppareil .IssueTable {
    width: 100%;
}

/*.issuesContainerAppareil .ant-table-thead > tr > th{
    padding: 0;
}*/
.TopAppareil {
    display: flex;
    align-items: baseline;
}

@media only screen and (max-width: 950px) {
    .tableAppareilContainer {
        width: 90%;
        height: 100%;
    }

    .addDeviceContainer {
        width: 90%;
        height: 100%;
        margin-bottom: 7em;
    }

    .addDeviceContainer form .inputText {
        width: 100% !important;
    }

    .addDeviceContainer form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding: 10px;
    }

    .addDeviceContainer form input[type="submit"] {
        width: 40% !important;
        margin-top: 20px;
    }

    .DetailContentIssueAppareil {
        flex-direction: column;
    }

    .DescriptionIssueAppareil {
        width: 100%;
        margin-bottom: 50px;
    }

    .DetailContentIssueAppareil .ComputerIssue {
        width: 50%;
        margin: auto;
    }

    .addDeviceC {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .addDeviceContainer .inputText {
        margin-bottom: 20px;
        margin-right: 0;
        width: 100%;
    }

    .addDeviceContainer .ant-select {
        margin-bottom: 20px;
        margin-right: 0;
        width: 100%;
    }

    .addDeviceContainer .addDeviceC .addDeviceBtn {
        display: flex;
        width: 100%;
        justify-content: center;
    }

}

.tableName h3 {
    color: #FFF !important;
    margin: 0;
}

.ant-table-tbody>tr>td:nth-child(1),
.ant-table-tbody>tr>td:nth-child(5) {
    text-align: center !important;
    padding-left: 0 !important;
}